In [4]:
%pip install pandas numpy
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

Collecting pandas
  Downloading pandas-2.2.3-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (89 kB)
Collecting numpy
  Downloading numpy-2.1.2-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.3-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.7/12.7 MB 54.4 MB/s eta 0:00:00:00:01
Downloading numpy-2.1.2-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.0/16.0 MB 61.0 MB/s eta 0:00:00:00:01
Downloading pytz-2024.2-py2.py3-none-any.whl (508 kB)
Downloading tzdata-2024.2-py2.py3-none-any.whl (346 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.1.2 pandas-2.2.3 pytz-2024.2 tzdata-2024.2
Note: you may need to restart the kernel to use updated packages.

In [5]:
# Parameters
num_invoices = 100
start_date = datetime(2023, 1, 1)
end_date = datetime(2023, 12, 31)

# Generate random data
np.random.seed(42)
invoice_ids = np.arange(1, num_invoices + 1)
dates = [start_date + timedelta(days=np.random.randint(0, (end_date - start_date).days)) for _ in range(num_invoices)]
amounts = np.round(np.random.uniform(100, 10000, num_invoices), 2)
customers = [f'Customer_{i}' for i in np.random.randint(1, 20, num_invoices)]

# Create DataFrame
invoices = pd.DataFrame({
    'InvoiceID': invoice_ids,
    'Date': dates,
    'Amount': amounts,
    'Customer': customers
})

# Display the first few rows of the dataset
invoices.head()

   InvoiceID       Date   Amount     Customer
0          1 2023-04-13  2067.29  Customer_19
1          2 2023-12-15   154.67   Customer_3
2          3 2023-09-28  8173.07  Customer_19
3          4 2023-04-17  7097.89   Customer_7
4          5 2023-03-13  7317.17   Customer_9